<p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'declarationTvaTabPan' | translate}}"
          [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'déclarationTvaTabPan' }}">
                <div class="grid">

                    <div class="field col-12 md:col-3">
                        <label for="1">{{'Réference' }}<span
                                style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText
                               placeholder="{{'Réference' }}" id="1"
                               [(ngModel)]="item.reference"
                               [ngClass]="{'ng-invalid ng-dirty' : !validDeclarationTvaReference}"/>
                        <small class='p-error' *ngIf='!validDeclarationTvaReference'>Réference est obligatoire.</small>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="5">{{'Société' | translate}}</label>
                        <p-dropdown appendTo="body" [options]="societes" [(ngModel)]="item.societe" id="5" [filter]="true" filterMatchMode="contains"
                                    [showClear]="true" optionLabel="ice" placeholder="{{'Société' }} " (ngModelChange)="getAnnee();getTrimestre()">
                        </p-dropdown>

                    </div>




                    <div class="field col-12 md:col-3">
                        <label for="3">{{'Année' | translate}}</label>
                        <p-dropdown  appendTo="body"  [options]="years" [(ngModel)]="item.annee" id="3" [filter]="true" filterMatchMode="contains"
                                     [showClear]="true"  placeholder="{{'Année' | translate}}"  >
                        </p-dropdown>

                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="2">{{'Trimestre' | translate}}</label>
                        <p-dropdown  appendTo="body"  [options]="trimestres" [(ngModel)]="item.trimistre" id="2" [filter]="true" filterMatchMode="contains"
                                     [showClear]="true"  placeholder="{{'Trimestre' | translate}}"  >
                        </p-dropdown>

                    </div>




                    <div class="field col-12 md:col-3">
                        <label for="6">{{'Total Tva Collectée' }}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="6"
                                       placeholder="{{'Total Tva Collectée' }}"
                                       [(ngModel)]="item.totalTvaCollecte">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="7">{{'Total Tva Due' }}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="7"
                                       placeholder="{{'declarationTvaTotalTvaDue' | translate}}"
                                       [(ngModel)]="item.totalTvaDue">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="8">{{'Différence Tva'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="8"
                                       placeholder="{{'Différence Tva'}}"
                                       [(ngModel)]="item.differenceTva" [disabled]="true" >
                        </p-inputNumber>

                    </div>



                    <div class="field col-12 md:col-3">
                        <label for="10">{{'Montant Tva' }}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="10"
                                       placeholder="{{'declarationTvaMontantTva' | translate}}"
                                       [(ngModel)]="item.montantTva"[disabled]="true" >
                        </p-inputNumber>

                    </div>
                <div class="field col-12 md:col-3">
                    <label for="2">{{'Date Déclaration' }}</label>
                    <p-calendar appendTo="body" id="2" [showTime]="true" [showSeconds]="false"
                                placeholder="{{'Date Déclaration' | translate}}"
                                [(ngModel)]="item.dateDeclaration"
                                dateFormat="{{dateFormat}}" [disabled]="true">
                    </p-calendar>

                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-step">
            <div style="margin-left: auto;">
                <button style="margin-bottom:10px;margin-right: 0px;opacity: 1" class="p-button-success" pButton pRipple label="Simuler" icon="pi pi-play" [disabled]="!(item.societe && item.annee && item.trimistre && item.totalTvaCollecte && item.totalTvaDue)" (click)="onSimuler()"></button>
                <button style="margin-bottom:10px;margin-right: 0px;padding: 6.5px;opacity: 1" class="p-button-success" pButton pRipple icon="pi pi-download" [disabled]="simuler" (click)="exportPdf(item)"></button>
                <button pButton pRipple label="valider"  icon="pi pi-check" style="margin:10px" [disabled]="simuler" (click)="save()"></button>
            </div>
            <div>
                <button pButton pRipple label="annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
            </div>

        </div>
    </ng-template>

    <app-taux-retard-tva-create-admin></app-taux-retard-tva-create-admin>


</p-dialog>
