
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'déclaration IS'}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'déclaration IS'}}">
                <div class="grid">
                    <div class="field col-12 md:col-3">
                        <label for="1">{{'référence'}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'référence'}}" autofocus  id="1" [(ngModel)]="item.reference">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="2">{{'Date déclaration'}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date déclaration'}}"  [(ngModel)]="item.dateDeclaration" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="3">{{'Trimestre'}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'Trimestre'}}" [(ngModel)]="item.trimistre"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="4">{{'Année'}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'Année'}}" [(ngModel)]="item.annee"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="5">{{'Société'}}</label>
                        <p-dropdown [options]="societes" [(ngModel)]="item.societe" id="5" [disabled]="true" optionLabel="ice" placeholder="{{'Société'}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="6">{{'Total charge' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'Total charge' | translate}}" [(ngModel)]="item.totalCharge"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="7">{{'Total produit' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'Total produit' | translate}}" [(ngModel)]="item.totalProduit"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="8">{{'Résultat avant impôt'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="8" [disabled]="true" placeholder="{{'Résultat avant impôt'}}" [(ngModel)]="item.resultatAvantImpot"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="10">{{'Montant impôt'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="10" [disabled]="true" placeholder="{{'Montant impôt'}}" [(ngModel)]="item.montantImpot"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="11">{{'Résultat après impôt'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="11" [disabled]="true" placeholder="{{'Résultat après impôt'}}" [(ngModel)]="item.resultatApresImpot"></p-inputNumber>
                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



