
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'bilanTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'bilanTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-3">
                        <label for="1">{{'Réf'}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Réf'}}" autofocus  id="1" [(ngModel)]="item.ref">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="2">{{'Année'}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'Année'}}" [(ngModel)]="item.annee"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="3">{{'Société'}}</label>
                        <p-dropdown [options]="societes" [(ngModel)]="item.societe" id="3" [disabled]="true" optionLabel="ice" placeholder="{{'Société'}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="4">{{'Immobilisations incorporelles' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'Immobilisations incorporelles' | translate}}" [(ngModel)]="item.immobilisationsIncorporelles"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="5">{{'Immobilisations corporelles' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'Immobilisations corporelles' | translate}}" [(ngModel)]="item.immobilisationsCorporelles"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="6">{{'Immobilisations financières'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'Immobilisations financières'}}" [(ngModel)]="item.immobilisationsFinancieres"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="7">{{'Total actif immobilisé'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'Total actif immobilisé'}}" [(ngModel)]="item.totalActifImmobolise"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="8">{{'Stocks' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="8" [disabled]="true" placeholder="{{'Stocks' | translate}}" [(ngModel)]="item.stocks"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="9">{{'Créances clients'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="9" [disabled]="true" placeholder="{{'Créances clients'}}" [(ngModel)]="item.creancesClients"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="10">{{'Total actif circulant' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="10" [disabled]="true" placeholder="{{'Total actif circulant' | translate}}" [(ngModel)]="item.totalActifCirculant"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="11">{{'Dépot en banque'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="11" [disabled]="true" placeholder="{{'Dépot en banque'}}" [(ngModel)]="item.depotEnBanque"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="12">{{'Avoir en caisse' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="12" [disabled]="true" placeholder="{{'Avoir en caisse' | translate}}" [(ngModel)]="item.avoirEnCaisse"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="13">{{'Total trésorie actif'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="13" [disabled]="true" placeholder="{{'Total trésorie actif'}}" [(ngModel)]="item.totalTresorieActif"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="14">{{'Total actif' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="14" [disabled]="true" placeholder="{{'Total actif' | translate}}" [(ngModel)]="item.totalActif"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="15">{{'Capital personnel' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="15" [disabled]="true" placeholder="{{'Capital personnel' | translate}}" [(ngModel)]="item.capitalPersonnel"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="16">{{'Emprunts' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="16" [disabled]="true" placeholder="{{'Emprunts' | translate}}" [(ngModel)]="item.emprunts"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="17">{{'Résultat'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="17" [disabled]="true" placeholder="{{'Résultat'}}" [(ngModel)]="item.resultat"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="18">{{'Total finnancement permanent'}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="18" [disabled]="true" placeholder="{{'Total finnancement permanent'}}" [(ngModel)]="item.totalFinnancementPermanant"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="19">{{'Dettes fournisseurs' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="19" [disabled]="true" placeholder="{{'Dettes fournisseurs' | translate}}" [(ngModel)]="item.dettesFournisseurs"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="20">{{'Autres dettes circulantes' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="20" [disabled]="true" placeholder="{{'Autres dettes circulantes' | translate}}" [(ngModel)]="item.autresDettesCirculantes"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="21">{{'Total passif circulant' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="21" [disabled]="true" placeholder="{{'Total passif circulant' | translate}}" [(ngModel)]="item.totalPassifCirculant"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="22">{{'Total passif' | translate}}(DH)</label>
                        <p-inputNumber class="mb-2 mr-2" id="22" [disabled]="true" placeholder="{{'Total passif' | translate}}" [(ngModel)]="item.totalPassif"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="23">{{'Etat bilan' | translate}}</label>
                        <p-dropdown [options]="etatBilans" [(ngModel)]="item.etatBilan" id="23" [disabled]="true" optionLabel="libelle" placeholder="{{'Etat bilan' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



