        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'bilanTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'bilanTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-3">
                                                    <label for="1">{{'bilanRef' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'bilanRef' | translate}}" id="1" [(ngModel)]="item.ref"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validBilanRef}"  />
                                                    <small class='p-error' *ngIf='!validBilanRef'>Ref est obligatoire.</small>
                                                </div>

                                                <div class="field col-11 md:col-2">
                                                    <label for="3">{{'bilanSociete' | translate}}</label>
                                                    <p-dropdown  appendTo="body"  [options]="societes" [(ngModel)]="item.societe" id="3" [filter]="true" filterMatchMode="contains"
                                                                 [showClear]="true" optionLabel="ice" placeholder="{{'bilanSociete' | translate}}"  >
                                                    </p-dropdown>

                                                </div>

                                                <div class="field col-12 md:col-3">
                                                    <label for="2">{{'bilanAnnee' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'bilanAnnee' | translate}}" [(ngModel)]="item.annee"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-2">
                                                <label for="23">{{'bilanEtatBilan' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="etatBilans" [(ngModel)]="item.etatBilan" id="23" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'bilanEtatBilan' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateEtatBilan('EtatBilan')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-etat-bilan-create-admin></app-etat-bilan-create-admin>


    </p-dialog>
