        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'bilanTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'bilanTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-3">
                                                    <label for="1">{{'Réf'}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'Réf'}}" id="1" [(ngModel)]="item.ref"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validBilanRef}"  />
                                                    <small class='p-error' *ngIf='!validBilanRef'>Réf est obligatoire.</small>
                                                </div>

                                                <div class="field col-11 md:col-2">
                                                    <label for="3">{{'Société'}}</label>
                                                    <p-dropdown  appendTo="body"  [options]="societes" [(ngModel)]="item.societe" id="3" [filter]="true" filterMatchMode="contains"
                                                                 [showClear]="true" optionLabel="ice" placeholder="{{'Société'}}"  >
                                                    </p-dropdown>

                                                </div>

                                                <div class="field col-12 md:col-3">
                                                    <label for="2">{{'Année'}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'Année'}}" [(ngModel)]="item.annee"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-2">
                                                <label for="23">{{'Etat Bilan'}}</label>
                                                <p-dropdown  appendTo="body"  [options]="etatBilans" [(ngModel)]="item.etatBilan" id="23" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'Etat Bilan'}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'valider' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'annuler' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-etat-bilan-create-admin></app-etat-bilan-create-admin>


    </p-dialog>
