<!DOCTYPE html>
<html >
<head>
    <title>Bilan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            color: #333;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #999;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }
        td{

            padding-left: 10%;
        }
        th {
            background-color: #cccccc;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            border: 1px solid #ccc;
            background-color: #fff;
            box-shadow: 0 0 10px #ddd;
        }

        .header {
            text-align: left;
            margin-bottom: 20px;
        }

        .header h1 {
            font-size: 35px;
            font-weight: bold;
            margin: 0;
            color: #c9302c;
        }

        .company-info {
            margin-bottom: 20px;
        }

        .company-info p {
            margin: 0;
            line-height: 1.5;
        }

        .invoice-details {
            margin-bottom: 20px;
        }

        .invoice-details p {
            margin: 0;
            line-height: 1.5;
        }



        .totals {
            margin-top: 20px;
            text-align: left;
        }

        .totals p {
            margin: 0;
            line-height: 1.5;
        }

        .footer {
            text-align: center;
        }

        .footer p {
            margin: 0;
            line-height: 1.5;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="header" style="font-family: Noto Sans JP, sans-serif;">
        <h1>Bilan Commercial</h1>
    </div><br/>
    <hr style="color:#c9302c ;height: 3px"></hr><br/><br/><br/><br/>
    <table style="width: 100%">

        <tr>
            <td style="text-align: left;border-bottom: 0;border:0px;padding:0 10px;font-size: 20px;"> <span style="font-weight: bold;">Société:</span> $societe.ice</td>
            <td style="text-align: right;border-bottom: 0;border:0px;padding:0 10px;font-size: 20px;"> <span style="font-weight: bold;">Année:</span> $annee</td>
        </tr>
    </table>

    <table>
        <thead>
        <tr>
            <th>Actif</th>
            <th>Prix (DH)</th>
            <th>Passif</th>
            <th>Prix (DH)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: left;width: 35%">Immobilisations Incorporelles <br/><br/>Immobilisations Corporelles <br/><br/>Immobilisations Financieres </td>
            <td>$immobilisationsIncorporelles <br/><br/>$immobilisationsCorporelles<br/><br/>$immobilisationsFinancieres </td>
            <td style="text-align: left;width: 30%">Capital Personnel <br/><br/>Emprunts <br/><br/>Resultat </td>
            <td>$capitalPersonnel <br/><br/>$emprunts <br/><br/>$resultat </td>
        </tr>
        <tr>
            <th style="text-align: right; padding-right: 5%;"> Total Actif Immobolise</th>
            <th>$totalActifImmobolise</th>
            <th style="text-align: right; padding-right: 5%;">Total Finnancement Permanant </th>
            <th>$totalFinnancementPermanant </th>
        </tr>

        <tr>
            <td style="text-align: left;">Stocks  <br/><br/>Creances Clients </td>
            <td>$stocks <br/><br/>$creancesClients </td>
            <td style="text-align: left;">Dettes Fournisseurs <br/><br/>Autres Dettes Circulantes</td>
            <td>$dettesFournisseurs <br/><br/>$autresDettesCirculantes </td>
        </tr>
        <tr>
            <th style="text-align: right; padding-right: 5%;"> Total Actif Circulant</th>
            <th>$totalActifCirculant </th>
            <th style="text-align: right; padding-right: 5%;">Total Passif Circulant </th>
            <th>$totalPassifCirculant </th>
        </tr>
        <tr>
            <td style="text-align: left;">Depot En Banque<br/><br/>Avoir En Caisse  </td>
            <td>$depotEnBanque  <br/><br/>$avoirEnCaisse  </td>
            <td style="border-bottom: none;border-right: none;"> <br/><br/></td>
            <td style="border-bottom: none;border-left: none;"><br/><br/> </td>
        </tr>
        <tr>
            <th style="text-align: right; padding-right: 5%;"> Total Tresorie Actif </th>
            <th>$totalTresorieActif  </th>
            <td style="border-top: none;border-right: none;"></td>
            <td style="border-top: none;border-left: none;"></td>

        </tr>
        <tr style="color: black;">
            <th style="text-align: right; padding-right: 5%;background-color:rgb(70, 70, 70);"> Total Actif</th>
            <th style="background-color:rgb(70, 70, 70);">$totalActif </th>
            <th style="text-align: right; padding-right: 5%;background-color:rgb(70, 70, 70);">Total Passif </th>
            <th style="background-color:rgb(70, 70, 70);">$totalPassif</th>
        </tr>
        </tbody>
    </table><br/><br/><br/><br/><br/>


    <div class="footer">
        <p style="font-size: 25px">MERCI POUR VOTRE SERVICE!</p>
        <p style="font-size: 18px">Si vous avez des questions, veillez nous contacter.</p>
    </div><br/><br/>
    <hr style="color:#c9302c ;height: 3px"></hr>
</div>
</body>
</html>

