<p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'declarationIsTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false" >
    <ng-template pTemplate="content" >
        <p-tabView>
            <p-tabPanel header="{{'declarationIsTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-3">
                        <label for="1">{{'declarationIsReference' | translate}}<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'declarationIsReference' | translate}}" id="1" [(ngModel)]="item.reference"
                               [ngClass]="{'ng-invalid ng-dirty' : !validDeclarationIsReference}"  />
                        <small class='p-error' *ngIf='!validDeclarationIsReference'>Reference est obligatoire.</small>
                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="4">{{'declarationIsSociete' | translate}}</label>
                        <p-dropdown  appendTo="body"  [options]="societes" [(ngModel)]="item.societe" id="4" [filter]="true" filterMatchMode="contains"
                                     [showClear]="true" optionLabel="ice" placeholder="{{'declarationIsSociete' | translate}}"  (ngModelChange)="getAnnee();getTrimestre()" >
                        </p-dropdown>

                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="3">{{'declarationIsAnnee' | translate}}</label>
                        <p-dropdown  appendTo="body"  [options]="years" [(ngModel)]="item.annee" id="3" [filter]="true" filterMatchMode="contains"
                                     [showClear]="true"  placeholder="{{'declarationIsAnnee' | translate}}"  >
                        </p-dropdown>

                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="2">{{'declarationIsTrimistre' | translate}}</label>
                        <p-dropdown  appendTo="body"  [options]="trimestres" [(ngModel)]="item.trimistre" id="2" [filter]="true" filterMatchMode="contains"
                                     [showClear]="true"  placeholder="{{'declarationIsTrimistre' | translate}}"  >
                        </p-dropdown>

                    </div>


                    <div class="field col-12 md:col-3">
                        <label for="5">{{'declarationIsTotalCharge' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'declarationIsTotalCharge' | translate}}" [(ngModel)]="item.totalCharge"  >
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="6">{{'declarationIsTotalProduit' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'declarationIsTotalProduit' | translate}}" [(ngModel)]="item.totalProduit"  >
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="7">{{'declarationIsResultatAvantImpot' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'declarationIsResultatAvantImpot' | translate}}" [disabled]="true" [(ngModel)]="item.resultatAvantImpot"  >
                        </p-inputNumber>

                    </div>


                    <div class="field col-12 md:col-3">
                        <label for="9">{{'declarationIsMontantImpot' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="9" placeholder="{{'declarationIsMontantImpot' | translate}}" [disabled]="true" [(ngModel)]="item.montantImpot"  >
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="10">{{'declarationIsResultatApresImpot' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="10" placeholder="{{'declarationIsResultatApresImpot' | translate}}" [disabled]="true" [(ngModel)]="item.resultatApresImpot"  >
                        </p-inputNumber>

                    </div>


                    <div class="field col-12 md:col-3">
                        <label for="12">{{'declarationIsDateDeclaration' | translate}}</label>
                        <p-calendar appendTo="body" id="12" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'declarationIsDateDeclaration' | translate}}"  [(ngModel)]="item.dateDeclaration"
                                    dateFormat="{{dateFormat}}" >
                        </p-calendar>

                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-step">
            <div style="margin-left: auto;">
                <button style="margin-bottom:10px;margin-right: 0px;opacity: 1" class="p-button-success" pButton pRipple label="Simuler" icon="pi pi-play" [disabled]="!(item.societe && item.annee && item.trimistre && item.totalCharge && item.totalProduit)" (click)="onSimuler()"></button>
                <button style="margin-bottom:10px;margin-right: 0px;padding: 6.5px;opacity: 1" class="p-button-success" pButton pRipple icon="pi pi-download" [disabled]="simuler" (click)="exportPdf(item)"></button>
                <button pButton pRipple label="Valider"  icon="pi pi-check" style="margin:10px" [disabled]="simuler" (click)="save()"></button>
            </div>
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
            </div>

        </div>
    </ng-template>

    <app-taux-is-create-admin></app-taux-is-create-admin>


</p-dialog>
